In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [3]:
path ="/content/lung.csv"
data = pd.read_csv(path)

In [5]:
y = data.LungCancer

In [6]:
data.columns

Index(['FIPS_code', 'LungCancer', 'PM2.5', 'PM10', 'SO2', 'NO2', 'O3', 'CO',
       'CN', 'Disel', 'Air_EQI', 'Unnamed: 11'],
      dtype='object')

In [7]:
features =['PM2.5', 'PM10', 'SO2', 'NO2', 'O3', 'CO',
       'CN', 'Disel', 'Air_EQI']

In [9]:
X = data[features]
X.head()

,PM2.5,PM10,SO2,NO2,O3,CO,CN,Disel,Air_EQI
0,12.06,15.07,10.661088,123.657648,522.38,4.463225,0.054815,0.388556,0.955385
1,11.12,19.99,17.146847,247.742253,540.79,12.875833,0.021069,0.428278,0.717964
2,12.36,15.77,23.257118,183.193624,896.42,19.620539,0.014027,0.199725,0.131007
3,12.24,14.92,7.630953,127.779935,563.48,2.951976,0.009613,0.211741,0.065289
4,12.97,17.90,8.913795,95.198094,561.94,9.362215,0.022128,0.300100,0.402194

In [10]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

In [11]:
rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(train_X, train_y)
rf_val_predictions = rf_model.predict(val_X)
rf_val_mae = mean_absolute_error(rf_val_predictions, val_y)

In [14]:
print(rf_val_mae)

9.80910906298003

In [15]:
import pickle

In [17]:
pickle.dump(rf_model,open('model.pkl','wb'))
model=pickle.load(open('model.pkl','rb'))

In [21]:
ans=[[12.36	,15.77,	23.257118,	183.193624,	896.42,	19.620539,	0.014027,	0.199725,	0.131007]]

In [22]:
print(model.predict(ans))

[75.873]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"